[ req ]
distinguished_name = req_dn
prompt = no
x509_extensions = intca_ext

[ req_dn ]
CN = Foundry Appliance Intermediate CA
O = Foundry Appliance Intermediate CA
C = US

[ intca_ext ]
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, keyCertSign, cRLSign, digitalSignature, keyEncipherment
subjectKeyIdentifier = hash
