# devcontainer.env.example
# ------------------------
# Copy this file to devcontainer.env in the same directory and update the keys
# and other variables accordingly. Also, you must rebuild your dev container
# anytime this file changes.

# AWS Long-Term Keys
AWS_ACCESS_KEY_ID=<Long-Term API Key ID>
AWS_SECRET_ACCESS_KEY=<Long-Term Secret Access Key>
