---
# Default values for template.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  repository: ghcr.io/linuxserver/code-server
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v3.9.1-ls73"
secret:
# PASSWORD: password
  SUDO_PASSWORD: foundry
# HASHED_PASSWORD

env:
  # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  TZ: "America/New_York"
  # PUID: 1000
  # PGID: 1000
  # PROXY_DOMAIN: code-server.my.domain
service:
  port:
    port: 8443
ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^(/vscode)$ $1/ redirect;
  hosts:
    - host: foundry.local
      paths:
        - path: /vscode(/|$)(.*)
          # Ignored if not kubeVersion >= 1.14-0
          pathType: Prefix
  tls:
    - secretName: appliance-cert
      hosts:
        - foundry.local
persistence:
  config:
    enabled: true
    emptyDir: false
    mountPath: /config
    ## Template downloads data Persistent Volume Storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    storageClass: local-path
    ##
    ## If you want to reuse an existing claim, you can pass the name of the PVC using
    ## the existingClaim variable
    # existingClaim: your-claim
    accessMode: ReadWriteOnce
    size: 1Gi
    ## Do not delete the pvc upon helm uninstall
    skipuninstall: false
